* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 2.5fr 10fr / 1fr 4fr;
}

#header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    border: solid;
    display: grid;
    grid-template-rows: repeat(2, minmax(50px 1fr));
    min-height: 150px;
}

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: white;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 50px;
}

#main-content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    border: solid;
    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.sidebar-div {
    border: solid;
}

#sidebar-div-1 {
    width: 100%;
    height: auto;
    display: grid; 
    grid-template-columns: 1fr 5fr;
}

#sidebar-div-2 {
    width: 100%;
    height: auto;
    display: grid; 
    grid-template-columns: 1fr 5fr;
    row-gap: 10px;
}

#sidebar-div-3 {
    width: 100%;
    height: auto;
    display: grid; 
    grid-template-columns: 1fr 5fr;
    row-gap: 10px;
}

#sidebar-logo {
    width: 100%;
    flex: 1;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: end;
    padding: 0 1rem 5rem 1rem;
    text-align: center;
    
}

.header-div {
    border: solid;
}

#header-div-1 {
    display: grid;
    grid-template-columns: .5fr 5fr 1fr 1fr 1fr;
    padding: 1rem;
    align-items: center;
    gap: 10px;
}

#search-svg {
    grid-column: 1 / 2;
}

#search {
    grid-column: 2 / 3;
    border-radius: 10px;
    border: solid 1px gray;
    min-height: 30px;
    padding-left: .5rem;
}

#brand-name-btn {
    grid-column: 3 / 4;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

#profile-picture-svg {
    grid-column: 4 / 5;
}

#profile-btn {
    grid-column: 5 / 6;
}

#header-div-2 {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

#profile-picture {
    grid-column: 1 / 2;
}

#welcome-text {
    grid-column: 2 / 3;
}

#new-score-btn {
    grid-column: 3 / 4;
}

#standings-btn {
    grid-column: 4 / 5;
}

#create-game-btn {
    grid-column: 5 / 6;
}

#score-div {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 80vh;
}

#announcements-div {
    border: solid;
    grid-area: 1 / 2 / 2 / 3;
    min-width: 225px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1rem;
}

#score-leaders-div {
    border: solid;
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
    padding: 0 1rem;
}

#scores {
    display: grid;
    grid-template: repeat(auto-fill, 250px) / repeat(auto-fit, minmax(250px, 1fr));
    flex:1;
    gap: 2rem;
    padding: 1rem 0;
    overflow: scroll;
    grid-auto-flow: row;
    grid-auto-rows: 250px;
}

.score {
    border: solid;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(4, 1fr) 4fr / 4fr repeat(4, 1fr);
    padding: 1rem
}

.score-course {
    grid-area: 1 / 1 / 2 / 6;
    font-size: 1.2rem; 
    font-weight: bold;
}

.score-score {
    grid-area: 2 / 1 / 3 / 6;
}

.score-front9 {
    grid-area: 3 / 1 / 4 / 6;
}
.score-back9 {
    grid-area: 4 / 1 / 5 / 6;
}
.score-description {
    grid-area: 5 / 1 / 6 / 6;
}
.options {
    grid-area: 6 / 1 / 7 / 6;
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    gap: 5px;
}
.score-edit {
    grid-column: 2 /3 ; 
}
.score-view {
    grid-column: 4 / 5 ; 
}
.score-share {
    grid-column: 3 / 4 ; 
}

#announcements {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    transition: ease-in-out;
    gap: 10px;
    border-radius: 10px;
    margin: 1rem 0;
}

.announcement-title {
    font-size: .8rem;
    grid-row: 1 / 2
}

.announcement-description {
    font-size: .6rem;
    grid-row: 2 / 3;
}

#score-leaders {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    transition: ease-in-out;
    padding: 1rem 0;
    
}

.user {
    border: solid;
    max-height: 50px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
    align-items: center;
    padding: 0 .5rem;
}

.icon {
    grid-area: 1 / 1 / 2 / 2;

}

.name {
    grid-area: 2 / 2 / 3 / 3;
    font-size: .6rem;
}

.username {
    grid-area: 1 / 2 / 2 / 3;
    font-size: .8rem;
}

.announcement {
    max-height: 75px;
    overflow: hidden;
    padding: .25rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 5px
}

.main-content-p  {
    padding-top: 1rem;
    margin-bottom: -1rem;
}


